footer{
    background-color: $bg-footer;
    color: $primary-color;
    .bot-menu{
    //   display: flex;
    //   justify-content: space-between;
      padding: 30px;
      ul{
        padding: 0px;
        display: flex;
        list-style: none;
        li{
          padding: 10px 0px;
          a{
            color: $link-color;
            text-decoration: none;
            padding-right: 15px;
          }
        }
      }
    }

    a{
      color: $link-color;
      i{
        padding: 10px 5px;
      }
    }

  }
